{% extends 'base.html' %} {% block content %}
<div class="u-content container py-3 my-3">
  <div class="u-content_title-box md-border-primary">
    <h2 class="u-content_title u-article_title md-text-secondary h3">
      Профилактика в онкологии
    </h2>
  </div>
  <article class="u-article text-dark">
    <p class="md-text-indent">
      Под первичной профилактикой злокачественных новообразований понимается предупреждение возникновения злокачественных опухолей и предшествующих им предопухолевых состояний путем устранения или нейтрализации воздействий неблагоприятных факторов окружающей
      среды и образа жизни, а также путем повышения неспецифической резистентности организма. В соответствии с современными данными о механизмах канцерогенеза у человека и роли воздействия канцерогенных факторов в возникновении онкологических заболеваний,
      первичная профилактика рака проводится по следующим направлениям.
    </p>
    <p class="md-text-indent">
      Онкогигиеническая профилактика, т.е. выявление и устранение возможности действия на человека канцерогенных факторов окружающей среды, а также выявление и использование возможностей уменьшения опасностей такого воздействия. Спектр форм воздействия в этом
      направлении чрезвычайно обширен, и можно конкретизировать лишь основные из них. Такими являются образ жизни и питание человека. Ведущее значение в оздоровлении образа жизни придается контролю курения. По данным литературы атрибутивный риск
      рака легкого, т.е. доля случаев этого заболевания, вызванных курением, составляет 80–90% у мужчин и - 70% у женщин. Велика роль курения в возникновении рака пищевода, поджелудочной железы, мочевого пузыря. Большое значение в возникновении
      злокачественных опухолей придается действию ионизирующих излучений, ультрафиолетовому облучению, а также неионизирующим электромагнитным излучениям радио- и микроволнового диапазона. Установлена отчетливая связь между стрессовыми ситуациями
      (событиями) в жизни человека и возникновением злокачественных новообразований. Риск возникновения этих заболеваний резко возрастает при эмоциональной подавленности невротического характера вследствие нервно-психической травмы. Важное значение
      в возникновении опухолевых заболеваний имеет характер питания (диеты) человека. Рекомендуемая сбалансированная диета должна содержать невысокое количество жиров, особенно насыщенных, не более - 75,0 в день для мужчин и 50,0 - для женщин. Она
      должна быть богата продуктами растительного происхождения и витаминами, особенно А, В, С, Е, которые оказывают на канцерогенез ингибирующее воздействие. Перечень факторов и воздействий на канцерогенез не ограничивается перечисленными выше
      и является достаточно обширным.
    </p>
    <p class="md-text-indent">
      Биохимическая профилактика имеет целью предотвращение бластоматозного эффекта от действия канцерогенов путем применения определенных химических препаратов и соединений. Так, например, общеизвестна роль нитратно-нитритного загрязнения окружающей среды
      в развитии, прежде всего злокачественных новообразований желудочно-кишечного тракта, который является основным путем их проникновения в организм человека. При среднем потреблении с водой и пищевыми продуктами 1 миллимоля этих химических соединений
      в сутки смертность от рака желудка составляет 6 на 100 000 населения в год (США), а при нагрузке в 4,5 миллимоля в сутки этот показатель возрастает до 43 на 100 000 населения (Япония). Канцерогенное воздействие воды и пищи возрастает также
      в случае загрязнения водоисточников соединениями мышьяка, галогенов, а также загрязнения воздушной среды различными химическими веществами и особенно асбестовой пылью, бластогенное действие которой при поступлении ее в организм ингаляционным
      путем в настоящее время является общепризнанным. Канцерогены химического происхождения окружают человека и в бытовой обстановке: полициклические ароматические углеводороды (ПАУ) и окислы азота - при сжигании газа, формальдегид и смолы содержатся
      в пластиках, нитросоединения появляются в дыму при жарении пищи и т.д. Биохимическому направлению в профилактике онкологических заболеваний придается большое значение, однако реализация возможностей этого направления представляется сложной:
      многие специалисты считают, что для организации мероприятий по предотвращению бластоматозного действия химических канцерогенов и контроля эффективности мер защиты необходим биохимический мониторинг. Теоретически эффективность мероприятий по
      онкогигиенической и биохимической профилактике оценивается снижением онкологической заболеваемости на 70–80%. По данным МАИР 80–90% злокачественных новообразований детерминировано средовыми факторами.
    </p>
    <p class="md-text-indent">
      К числу других направлений профилактики злокачественных новообразований относится медико-генетическая профилактика путем выделения семей с наследуемыми предрасположенностями к предопухолевым и опухолевым заболеваниям, лиц с хромосомной нестабильностью
      и организация мероприятий по снижению опасности возможного действия на них канцерогенных факторов. В механизмах наследственной предрасположенности часто решающее значение имеют эндокринные факторы. Так, дочери матери, больной раком молочной
      железы, имеют риск заболеть этим заболеванием в 4,5 раза выше, чем их сверстницы, не имеющие такого анамнеза. Сестры больной раком молочной железы, если их мать страдала этим же заболеванием, имеют вероятность возникновения такой опухоли в
      47–51 раз выше, чем их сверстницы с неотягощенной наследственностью. Женщинам, имеющим отягощенный анамнез относительно рака молочной железы, не рекомендуется грудное вскармливание детей, употребление кофе, прием некоторых медикаментов, особенно
      резерпина и группы раувольфии. Доброкачественные опухоли молочной железы среди женщин, имеющих это заболевание в семейном анамнезе, встречаются в 4 раза чаще.
    </p>
    <p class="md-text-indent">
      Иммунобиологическая профилактика проводится путем выделения людей или формирования групп с иммунологической недостаточностью и организации мероприятий по ее коррекции или устранению одновременно с защитой от возможных канцерогенных воздействий. Это направление
      приобретает особо важное значение при продолжительной иммуносупрессивной терапии после гомологичной пересадки органов и тканей, а также при лечении аутоиммунных заболеваний.
    </p>
    <p class="md-text-indent">
      Эндокринно-возрастная профилактика проводится путем выявления и коррекции дисгормональных состояний и возрастных нарушений гомеостаза, способствующих возникновению и развитию злокачественных новообразований.
    </p>
    <p class="md-text-indent">
      Теоретическая эффективность каждого из этих направлений оценивается снижением онкологической заболеваемости на 10%. Стратегической целью этого раздела профилактики рака является снижение онкологической заболеваемости населения.
    </p>
    <p class="md-text-indent">
      Вторичная профилактика злокачественных новообразований представляет комплекс мероприятий, направленных на выявление предопухолевых заболеваний, раннюю диагностику онкологических заболеваний, что обеспечивает эффективность их хирургического (и других видов
      противоопухолевого) лечения. В осуществлении этого вида профилактики необходимо применение цитологических, гистологических, эндоскопических, рентгенологических и других специальных методов обследования.
    </p>
    <p class="text-right">
      <em>Эксперты ООО "МЕДЭКСИС"</em>
    </p>
    <p class="text-right">
      <em>2019 год</em>
    </p>
    <hr>
    <p>Литература:</p>
    <ol class="article_biblio-list">
      <li><em>Кудрявцев Игорь Принципы онкологической помощи в регионе с техногенной нагрузкой; LAP Lambert Academic Publishing - М., 2011. - 168 c.</em></li>
      <li><em>Профилактика злокачественных опухолей; Медицина - М., 2013. - 294 c.</em></li>
      <li><em>Под редакцией Моисеенко В. М., Урманчеевой А. Ф., Хансона К. П. Лекции по фундаментальной и клинической онкологии; Н-Л - М., 2016. - 704 c.</em></li>
      <li><em>Плетнев В. В. Выявление предрасположенности к раку и методика его первичной профилактики; Ленанд - М., 2015. - 160 c.</em></li>
      <li><em>Приложение N 2 к порядку проведения профилактического медицинского осмотра и диспансеризации определенных групп взрослого населения, утвержденному приказом Министерства здравоохранения Российской Федерации от 13.03.2019 г. N 124н.</em></li>
      <li><em>Приказ Министерства здравоохранения Российской Федерации от 13.03.2019 г. N 124н.</em></li>
      <li><em>Приказ Минздрава России от 15 ноября 2012 г. N 915н</em></li>
    </ol>
  </article>
</div>
{% endblock content %}